In [1]:
import sqlite3
import pandas as pd
import os

In [33]:
#!pip install ipython-sql

In [2]:
df = pd.read_csv("./BDD_DICIEMBRE_2022.csv", encoding_errors="ignore")

In [3]:
df.head()

,ID,ANIO,SINIESTROS,LESIONADOS,FALLECIDOS,ENTE_DE_CONTROL,LATITUD_Y,LONGITUD_X,DPA_1,PROVINCIA,...,TRICIMOTO,VEHICULO_DEPORTIVO_UTILITARIO,SUMA_DE_VEHICULOS,TIPO_ID_1,EDAD_1,SEXO_1,CONDICION_1,PARTICIPANTE_1,CASCO_1,CINTURON_1
0,1,2017,DMQ00001012017,1,0,DMQ,-0.083501,-78.417742,17,PICHINCHA,...,0,0,1,CEDULA,36,MUJER,LESIONADO,PEATON,NO,NO
1,2,2017,ATM00002012017,1,0,ATM,-2.246682,-79.897754,9,GUAYAS,...,0,0,1,CEDULA,12,HOMBRE,LESIONADO,PEATON,NO,NO
2,3,2017,PNE00003012017,1,0,PNE,-0.253881,-79.217405,23,SANTO DOMINGO DE LOS TSACHILAS,...,0,0,1,CEDULA,26,HOMBRE,LESIONADO,PEATON,NO,NO
3,4,2017,DMQ00004012017,0,0,DMQ,-0.116059,-78.464188,17,PICHINCHA,...,0,0,1,NO IDENTIFICADO,-1,NO IDENTIFICADO,NO IDENTIFICADO,CONDUCTOR,NO,NO
4,5,2017,DMQ00005012017,0,0,DMQ,-0.239721,-78.512058,17,PICHINCHA,...,0,0,1,CEDULA,11,HOMBRE,ILESO,PASAJERO,NO,NO

In [4]:
cnn = sqlite3.connect("siniestros_ecuador.db")

In [6]:
#df.to_sql("siniestros", cnn) #create the table (error IF table siniestros already exists)

ValueError: Table 'siniestros' already exists.

In [7]:
# Load the sqpl module to iPython

%load_ext sql

In [8]:
%sql sqlite:///siniestros_ecuador.db

In [9]:
%%sql

SELECT *
FROM siniestros
LIMIT 3

 * sqlite:///siniestros_ecuador.db
Done.

[(0, 1, 2017, 'DMQ00001012017', 1, 0, 'DMQ', -0.083501, -78.417742, 17, 'PICHINCHA', 1701, 'QUITO', 170155, 'CALDERON (CARAPUNGO)', 'GIOVANNI CALLES & RAFAEL CALVACHE', 'ZONA 9', 'RURAL', 'ND', 'ND', 'ND', 'ND', '01/01/2017', '00:15:00', 'DE 00H00 A 00H59', 0, 'DOMINGO', 7, 'ENERO', 1, 'SI', 'C16', 'NO TRANSITAR POR LAS ACERAS O ZONAS DE SEGURIDAD DESTINADAS PARA EL EFECTO.', 'ATROPELLOS', 'NO IDENTIFICADO', 'PARTICULAR', 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 'CEDULA', 36, 'MUJER', 'LESIONADO', 'PEATON', 'NO', 'NO'),
 (1, 2, 2017, 'ATM00002012017', 1, 0, 'ATM', -2.246682, -79.897754, 9, 'GUAYAS', 901, 'GUAYAQUIL', 90150, 'GUAYAQUIL', 'CALLE PUYO Y CALLE BAEZA, CDLA. LOS ESTEROS', 'ZONA 8', 'URBANA', 'ND', 'ND', 'ND', 'ND', '01/01/2017', '00:25:00', 'DE 00H00 A 00H59', 0, 'DOMINGO', 7, 'ENERO', 1, 'SI', 'C16', 'NO TRANSITAR POR LAS ACERAS O ZONAS DE SEGURIDAD DESTINADAS PARA EL EFECTO.', 'ATROPELLOS', 'AUTOMOVIL', 'PARTICULAR', 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 'CEDULA', 12, 'HOMBRE', 'LESIONADO', 'PEATON', 'NO', 'NO'),
 (2, 3, 2017, 'PNE00003012017', 1, 0, 'PNE', -0.253881, -79.217405, 23, 'SANTO DOMINGO DE LOS TSACHILAS', 2301, 'SANTO DOMINGO', 230150, 'SANTO DOMINGO DE LOS COLORADOS', 'COOP. LUZ DEL DIA', 'ZONA 4', 'URBANA', 'ND', 'ND', 'ND', 'ND', '01/01/2017', '00:25:00', 'DE 00H00 A 00H59', 0, 'DOMINGO', 7, 'ENERO', 1, 'SI', 'C23', 'NO RESPETAR LAS SENIALES REGLAMENTARIAS DE TRANSITO. (PARE, CEDA EL PASO, LUZ ROJA DEL SEMAFORO, ETC).', 'ATROPELLOS', 'MOTOCICLETA', 'PARTICULAR', 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 'CEDULA', 26, 'HOMBRE', 'LESIONADO', 'PEATON', 'NO', 'NO')]

### ¿Cuál es el año que registra más accidentes (LESIONES + FALLECIDOS) ?

In [23]:
%%sql

SELECT ANIO, SUM(LESIONADOS) AS Lesionados, SUM(FALLECIDOS) AS Fallecidos, SUM(LESIONADOS) + SUM(FALLECIDOS) AS Total
FROM siniestros
GROUP BY ANIO
ORDER BY Total DESC

 * sqlite:///siniestros_ecuador.db
Done.

[(2017, 22018, 2153, 24171),
 (2019, 19999, 2180, 22179),
 (2018, 19858, 2151, 22009),
 (2022, 19006, 2202, 21208),
 (2021, 17532, 2131, 19663),
 (2020, 13099, 1591, 14690),
 (2023, 1639, 169, 1808)]

El año que más personas fallecidas reportó fue 2017

### Top 10 de automoviles involucrados

In [40]:
%%sql

SELECT TIPO_DE_VEHICULO_1, COUNT(*) AS Total, ROUND(COUNT(*) * 100.0 / SUM(COUNT(*)) OVER(),2) AS Porcentaje 
FROM Siniestros
GROUP BY TIPO_DE_VEHICULO_1
ORDER BY Total DESC
LIMIT 10

 * sqlite:///siniestros_ecuador.db
Done.

[('AUTOMOVIL', 45801, 32.51),
 ('MOTOCICLETA', 32111, 22.79),
 ('NO IDENTIFICADO', 19339, 13.73),
 ('CAMIONETA', 15270, 10.84),
 ('CAMION', 9974, 7.08),
 ('VEHICULO DEPORTIVO UTILITARIO', 8290, 5.88),
 ('BUS', 6516, 4.63),
 ('BICICLETA', 1338, 0.95),
 ('FURGONETA', 1285, 0.91),
 ('ESPECIAL', 748, 0.53)]

Los automóviles y bicicletas representan aproximadamente el 50% de los accidentes